In [1]:
import numpy as np
import pandas as pd

In [2]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']

navegadores = pd.DataFrame({'http_status': [200, 200, 404, 404, 301],
                            'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
                             index=index)
navegadores

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [3]:
#Ex 1. a.
navegadores[navegadores['http_status'] == 200]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

In [4]:
#Ex 1. b.
navegadores[navegadores['response_time'] < 0.08]

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07

In [5]:
#Ex 1. c.
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']

navegadores2 = navegadores.reindex(new_index, fill_value=0)

navegadores
#O DataFrame original não foi modificado.

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [6]:
#Ex 1. d.
navegadores[navegadores['http_status'] == 200]

#Resultado igual pois o DataFrame original continua intacto.

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02

In [7]:
#Ex 1. d.
navegadores[navegadores['response_time'] < 0.08]

#Resultado igual pois o DataFrame original continua intacto.

         http_status  response_time
Firefox          200           0.04
Chrome           200           0.02
Safari           404           0.07

In [8]:
#Ex1. e.

navegadores2.loc['Iceweasel', 'http_status'] = 501
navegadores2.loc['Iceweasel', 'response_time'] = 10.0

navegadores2

#DataFrame após trocar os valores

               http_status  response_time
Safari                 404           0.07
Iceweasel              501          10.00
Comodo Dragon            0           0.00
IE10                   404           0.08
Chrome                 200           0.02

In [9]:
#Ex1. f.
navegadores2.loc['Comodo Dragon', 'http_status'] = 503
navegadores2.loc['Comodo Dragon', 'response_time'] = 8.0

navegadores2

#DataFrame após trocar os valores

               http_status  response_time
Safari                 404           0.07
Iceweasel              501          10.00
Comodo Dragon          503           8.00
IE10                   404           0.08
Chrome                 200           0.02

In [10]:
#Ex 1. g.

indexNavegadores = navegadores.index
indexNavegadores2 = navegadores2.index


diff_index = indexNavegadores.difference(indexNavegadores2)
diff_index

Index(['Firefox', 'Konqueror'], dtype='object')

In [11]:
#Ex 1. g.

novaLinha1 = navegadores.loc[diff_index[0],'http_status'], navegadores.loc[diff_index[0],'response_time']
novaLinha2 = navegadores.loc[diff_index[1],'http_status'], navegadores.loc[diff_index[1],'response_time']

navegadores2.loc[diff_index[0]] = novaLinha1
navegadores2.loc[diff_index[1]] = novaLinha2

navegadores2

               http_status  response_time
Safari               404.0           0.07
Iceweasel            501.0          10.00
Comodo Dragon        503.0           8.00
IE10                 404.0           0.08
Chrome               200.0           0.02
Firefox              200.0           0.04
Konqueror            301.0           1.00