<h4>1 - Na página 68 temos um dicionário chamado "dados", nele há informações das populações dos estados de Ohio e Nevada, entre os anos 2000 e 2002. Utilizando o dicionário na forma que está e o atributo columns do comando pd.DataFrame, crie um objeto DataFrame com as colunas na seguinte ordem: year, state e pop.</h4>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dados = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

In [3]:
populacao = pd.DataFrame(dados)
populacao

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [4]:
populacao = pd.DataFrame(dados, columns=["year", "state", "pop"])
populacao

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

<h4>2 - A partir do DataFrame do exercício anterior, adicione uma coluna denominada debt com valores gerados a partir do range de -12 a 0 saltando de 2 em 2.</h4>

In [ ]:
populacao["debt"] = np.arange(-12, 0, 2)
populacao

<h4>3 - Utilizando de programação, analise em que ano a população de Ohio passou a população de Nevada.</4>

<h5>Solução 1</h5>

In [ ]:
ohio = populacao.loc[populacao.state == "Ohio"]
ohio

In [ ]:
nevada = populacao.loc[populacao.state == "Nevada"]
nevada

In [ ]:
for y_ohio, p_ohio in ohio[["year", "pop"]].values:
    for y_nevada, p_nevada in nevada[["year", "pop"]].values:
        if y_ohio == y_nevada:
            if p_ohio > p_nevada:
                print(f"Nevada passou a população de Ohio em {y_ohio}, com uma população de {p_ohio} habitantes.")
        else:
            continue

<h5>Solução 2</h5>

In [ ]:
populacao.pivot(index='year', columns='state', values='pop')

In [ ]:
populacao.pivot(index='year', columns='state', values='pop').reset_index()

In [ ]:
populacao.pivot(index='year', columns='state', values='pop').reset_index().query('Ohio > Nevada')

In [ ]:
populacao.pivot(index='year', columns='state', values='pop').reset_index().query('Ohio > Nevada').to_dict(orient='records')

In [ ]:
ohio_greater = populacao.pivot(index='year', columns='state', values='pop').reset_index().query('Ohio > Nevada').to_dict(orient='records')
for o in ohio_greater:
    print(f'Nevada passou a população de Ohio em {o["year"]}, com uma população de {o["Ohio"]} habitantes.')

<h5>Solução 3</h5>

In [ ]:
ohio.merge(nevada, on='year', suffixes=['_ohio', '_nevada'])

In [ ]:
ohio.merge(nevada, on='year', suffixes=['_ohio', '_nevada']).query('pop_ohio > pop_nevada')

In [ ]:
ohio.merge(nevada, on='year', suffixes=['_ohio', '_nevada']).query('pop_ohio > pop_nevada').to_dict(orient='records')

In [ ]:
ohio_nevada = ohio.merge(nevada, on='year', suffixes=['_ohio', '_nevada']).query('pop_ohio > pop_nevada')
for o in ohio_nevada.to_dict(orient='records'):
    print(f'Nevada passou a população de Ohio em {o["year"]}, com uma população de {o["pop_ohio"]} habitantes.')

<h5>Solução 4</h5>

In [ ]:
def max_state(df):
    print("*1*", df)
    print()
    if len(df) == 2:
        print("*2*", df.sort_values(by='pop', ascending=False)[['state', 'pop']])
        print()
        print("*3*", df.sort_values(by='pop', ascending=False)[['state', 'pop']][:1])
        print()
        print()
        return df.sort_values(by='pop', ascending=False)[['state', 'pop']][:1]
    else:
        return None

In [ ]:
populacao.groupby('year').apply(max_state).reset_index()

In [ ]:
def max_state(df):
    if len(df) == 2:
        return df.sort_values(by='pop', ascending=False)[['state', 'pop']][:1]
    else:
        return None

x = populacao.groupby('year').apply(max_state).reset_index()
for o in x.query('state == "Ohio"').to_dict(orient='records'):
    print(f'Nevada passou a população de Ohio em {o["year"]}, com uma população de {o["pop"]} habitantes.')

<h4>4 - Calcule as médias das populações de Ohio e Nevada. Indique em que ano Ohio teve a maior dívida e indique em que ano Nevada teve a menor dívida.</h4>

In [ ]:
populacao.groupby('state').agg({'pop' : np.mean}).reset_index().rename(columns={"pop": "pop_mean"})

In [ ]:
min_debt = populacao.groupby('state').agg({'debt' : np.min}).reset_index()
max_debt = populacao.groupby('state').agg({'debt' : "max"}).reset_index()

In [ ]:
dict_nevada = min_debt.loc[min_debt.state == "Nevada"].to_dict(orient='records')[0]
dict_ohio = max_debt.loc[max_debt.state == "Ohio"].to_dict(orient='records')[0]

In [ ]:
populacao.loc[((populacao.state == dict_nevada["state"]) & (populacao.debt == dict_nevada["debt"])), ["state", "year", "debt"]]

In [ ]:
populacao.loc[((populacao.state == dict_ohio["state"]) & (populacao.debt == dict_ohio["debt"])), ["state", "year", "debt"]]

<h4>5 - Leia sobre o funcionamento dos métodos bfill e ffill. Utilizando o objeto populacao_anual da página 69, crie o seguinte DataFrame: pd.DataFrame(populacao_anual, index=[2000, 2001, 2002, 2003]). Substitua o valor ausente utilizando o método bfill a população de Nevada no ano 2000. Substitua os valores ausentes utilizando ffill as populações de Ohio e Nevada no ano de 2003.</h4>

In [ ]:
populacao_anual = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
df_populacao_anual = pd.DataFrame(populacao_anual, index=[2000, 2001, 2002, 2003])

In [ ]:
df_populacao_anual

In [ ]:
df_populacao_anual.fillna(method="bfill", inplace=True)
df_populacao_anual.fillna(method="ffill", inplace=True)
df_populacao_anual

<h4>6 - Utilizando o objeto populacao_anual da página 69, crie o seguinte DataFrame: pd.DataFrame(populacao_anual, index=[2001, 2002, 2003]). Utilizando o método fillna, preencha os valores ausentes com a média de cada cidade.</h4>

In [ ]:
df_populacao_anual_novo = pd.DataFrame(populacao_anual, index=[2001, 2002, 2003])

In [ ]:
df_populacao_anual_novo

In [ ]:
df_populacao_anual_novo.fillna(df_populacao_anual.mean(), inplace=True)
df_populacao_anual_novo